body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    max-width: 2000px;
    background-color: hsl(30, 38%, 92%);
}

.block {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 36%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.block-text {
    display: grid;
    grid-template-rows: 10% 30% 20% 23% 20%;
    margin-left: 2em;
}

.dp-img {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.perfume {
    position: relative;
    top: 2.2em;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    letter-spacing: 7px;
}

.name {
    font-size: 2.3em;
    font-family: Fraunces, serif;
    margin-right: 2em;
    line-height: 0.95em;
}

.desc {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 3em;
}

.price {
    display: grid;
    grid-template-columns: 50% 25%;
    height: 100px;
}

.new-price {
    font-size: 2.3em;
    font-family: Fraunces, serif;
    color: hsl(158, 36%, 37%);
}

.old-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat, sans-serif;
}

.button {
    display: grid;
    width: 20em;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: white;
    height: 4.3em;
    text-align: center;
    border: none;
    letter-spacing: 1px;
    grid-template-columns: 10% 90%;
}

.cart-icon {
    position: relative;
    top: 1.5em;
    left: 5em;
}

.button-text {
    position: relative;
    top: 0.5em;
    
}

.button:hover {
    cursor: pointer;
    background-color: hsl(212, 21%, 14%);
}

.img-tmp {
    position: relative;
}

@media screen and (max-width: 500px) {
    .block {
        display: flex;
        width: 500px;
        max-width: 100%;
        min-height: 60vh;
        border-radius: 10px;
        background-color: white;
        flex-direction: column;
        align-content: center;
        
    }

    .dp-img {
        display: block;
        position: absolute;
        width: 500px;
        height: 750px;
        top: -40%;
        left: -10%;
    }

    .img-tmp {
        display: block;
        overflow: hidden;
        height: 350px;
        width: 500px;
        position: relative;
    }

    .block-text {
        display: grid;
        grid-template-rows: 10% 25% 20% 23% 20%;
        margin-left: 2em;
    }
    
    .name {
        margin-right: 10px;
    }

    .button {
        display: grid;
        width: 20em;
        border-radius: 10px;
        background-color: hsl(158, 36%, 37%);
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        color: white;
        height: 4.3em;
        text-align: center;
        border: none;
        letter-spacing: 1px;
        grid-template-columns: 10% 90%;
    }
    
    .cart-icon {
        position: relative;
        top: 1.5em;
        left: 5em;
    }
    
    .button-text {
        position: relative;
        top: 0.5em;
        
    }
}